<ul id="navbar">
        <li><a href="/main">home</a></li>
        <li><a href="/auth/signup">sign up</a></li>
        <li><a href="/auth/login">log in</a></li>
        <li><a href="/auth/logout">log out</a></li>
        <li><a href="/note/note-home">notes</a></li>
      </ul>

<h1>all lists</h1>

<div class="list-container">
    {{#each foundLists}}
        <div>
            <h3 style="font-size: 18px">{{title}}</h3>
                {{#each content}}
                    <p style="font-size: 13px;">{{this}}</p>
                {{/each}}

        <button>
            <a href="/list/{{_id}}" style="text-decoration: none; color: black;">view</a>
        </button>

        <form action="/list/{{_id}}/edit-list" method="get">
            <button type="submit">edit</button>
        </form>
    
        <form action="/list/{{_id}}/delete-list" method="post">
            <button type="submit">delete</button>
        </form>
        </div>
    {{/each}}
</div>

<br>

<button>
    <a href="/list/list-home" style="text-decoration: none; color: black;">back</a>
</button>