<ul id="navbar">
        <li><a href="/main">home</a></li>
        <li><a href="/auth/signup">sign up</a></li>
        <li><a href="/auth/login">log in</a></li>
        <li><a href="/auth/logout">log out</a></li>
        <li><a href="/note/note-home">notes</a></li>
      </ul>

<h1>all lists</h1>

{{#each foundLists}}
    <h3>{{title}}</h3>
    <p>{{content}}</p>

    <button>
        <a href="{{id}}" style="text-decoration: none; color: black;">view</a>
    </button>

    <form action="/list/{{_id}}/edit-list" method="get">
        <button type="submit">edit</button>
    </form>
    
    <form action="/list/{{_id}}/delete-list" method="post">
        <button type="submit">delete</button>
    </form>
{{/each}}

<br>

<button>
    <a href="/list/list-home" style="text-decoration: none; color: black;">back</a>
</button>