<ul id="navbar">
        <li><a href="/main">home</a></li>
        <li><a href="/auth/signup">sign up</a></li>
        <li><a href="/auth/login">log in</a></li>
        <li><a href="/auth/logout">log out</a></li>
        <li><a href="/list/list-home">lists</a></li>
      </ul>

<h1>all notes</h1>

<div class="list-container">
    {{#each foundNotes}}
    <div>
        <h3 style="font-size: 18px">{{title}}</h3>
        <p style="font-size: 13px;">{{content}}</p>

        <button>
            <a href="{{id}}" style="text-decoration: none; color: black;">view</a>
        </button>

        <form action="/note/{{_id}}/edit-note" method="get">
            <button type="submit">edit</button>
        </form>
        
        <form action="/note/{{_id}}/delete-note" method="post">
            <button type="submit">delete</button>
        </form>
        </div>
    {{/each}}
</div>

<br>

<button>
    <a href="/note/note-home" style="text-decoration: none; color: black;">back</a>
</button>