<ul id="navbar">
        <li><a href="/main">home</a></li>
        <li><a href="/list/list-home">lists</a></li>
        <li><a href="/auth/logout">log out</a></li>
      </ul>

<h1>all notes</h1>

<div class="container">
    {{#each foundNotes}}
        <div>
            <div>
                <h3 style="font-size: 18px">{{title}}</h3>
                <p style="font-size: 13px;">{{content}}</p>
            </div>

            <div class="div-button">
                <button class="bttn-container">
                    <a href="/note/{{_id}}" class="matchTagColors">view</a>
                </button>

                <form action="/note/{{_id}}/edit-note" method="get">
                    <button  class="bttn-container" type="submit">edit</button>
                </form>
                
                <form action="/note/{{_id}}/delete-note" method="post">
                    <button  class="bttn-container" type="submit">delete</button>
                </form>
            </div>

        </div>
    {{/each}}
</div>

<br>

<button>
    <a href="/note/note-home"  class="matchTagColors">back</a>
</button>

<style>
    body {
        background-image: none;
        background-image: linear-gradient(to left bottom, #fae8d9, #f9dfcc, #f8d5bf, #f7ccb4, #f7c2a9, #f6bba2, #f4b49b, #f3ad95, #f1a790, #efa08b, #ed9a87, #eb9383);
    }
</style>