<h1>all notes</h1>

{{#each foundNotes}}
    <h3>{{title}}</h3>
    <p>{{content}}</p>

    <button>
        <a href="{{id}}" style="text-decoration: none; color: black;">view</a>
    </button>

    <form action="/note/{{_id}}/edit-note" method="get">
        <button type="submit">edit</button>
    </form>
    
    <form action="/note/{{_id}}/delete-note" method="post">
        <button type="submit">delete</button>
    </form>
{{/each}}

<br>

<button>
    <a href="/note/note-home" style="text-decoration: none; color: black;">back</a>
</button>